*{
    padding: 0;
    margin: 0;
    color: #fff;

}

body {
    background-color: #151515;
    font-family: 'Inter', sans-serif;
    font-weight: 400; 
}

h1 {
    font-weight: 500; 
}

strong {
    font-weight: 700; 
}
.card{
    height: 560px;
    width: 350px;
    background-color: rgb(31,31,31);
    margin: 100px auto;
    border-radius: 1rem;
}
.card  .info{
    text-align: center;
    
}

div > h2 + p {
    
    margin-top: 0.8rem;
    margin-bottom: 1.4rem;
    font-weight: 600;
    color: hsl(75, 94%, 57%);
}
.card img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.card .btn-s{
    background-color: rgb(31,31,31);
}

.btn-s{
    height: 260px;
    width: 290px;
    margin: 15px auto;
    background-color: rgb(31,31,31);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn-s button{
    background-color: #333333;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 700;

}
#p-1{
    opacity: 0.6;
}

@media (max-width: 375px) {
    .card {
      max-width: 100%;
    }
}
  
@media (min-width: 1440px) {
    .card {
      max-width: 400px;
    }
}


